#parent-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4px;
}

#container {
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1rem solid;
    border-color: #DDD7D5;
    border-radius: 1%;
}

.pixel {
    display: flex;
    background-color: aliceblue;
    flex-basis: 6.25%;
    height: 6.25%;
}