#parent-container {
    display:flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 100px;
    /* 0 margin on top and bottom, centerd to the left and right*/
    margin: 0 auto;
    /*max width is width of container (960px) plus two times (width + gap) of buttons*/
    max-width: 1560px;
}
#header {
    display: flex;
    justify-content: center;
    align-content: space-around;
}
h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 70px;
}

#container {
    height: 960px;
    width: 960px;
    display: flex;
    flex-wrap: wrap;
    flex-grow: 0;
    flex-shrink: 0;
    border: 1rem solid;
    border-color: #DDD7D5;
    border-radius: 1%;
}

#buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25px;
    width: 200px;
}

.pixel {
    display: flex;
    background-color: aliceblue;
    flex-basis: 6.25%;
    height: 6.25%;
}

  .button {
    position: relative;
    background-color: #04AA6D;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  /*Button animation, copied from "https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_buttons_animate2"*/
  .button:after {
    content: "";
    background: #90EE90;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }

#black {
    background-color: black;
}

#color {
    background-color: orangered;
}

label {
    font-weight: bold;
}